
@{
    ViewBag.Title = "Contacto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <h2>Contacto</h2>

    <div class="row">
        <div class="justify-content-md-center">
            <h1 class="display-4 justify-content-center text-center">Bienvenidos A Arboles De Los Libros</h1>
            <div class="col-sm-6 col-md-10 col-lg-12 align-items-center">
                <p class="parrafo-inicio">
                    ¡Descubre un mundo nuevo entre las páginas de un buen libro! Leer no solo es una fuente inagotable de conocimiento, sino una puerta abierta a la imaginación, la aventura y el crecimiento personal. Sumérgete en historias que despierten tu curiosidad, personajes que te inspiren y reflexiones que transformen tu perspectiva. Cada libro es una invitación a viajar sin moverte del lugar, a entender otras realidades y a enriquecer tu alma. ¿Qué esperas? ¡El próximo capítulo de tu vida podría estar en la próxima página que leas!
                </p>
            </div>
        </div>
    </div>
</div>


